{% extends 'base.html' %}
{% block title %}Alunos{% endblock %}
{% block content %}
<div class="aluno-content">
<div style="background-color: #ffffff; padding: 20px; border-radius: 10px; color: #000000;">
    <h1 style="color: #800080;">Bem-vindo, Aluno!</h1>
    <p>Aqui você encontrará recursos e informações para aprender Scratch.</p>

    <h2 style="color: #800080;">Recursos para Aprender Scratch</h2>
    <ul>
        <li><strong>Introdução ao Scratch:</strong> Comece aprendendo os conceitos básicos de programação com Scratch.</li>
        <li><strong>Movimentação e Animação:</strong> Explore como fazer seus personagens se moverem e animarem.</li>
        <li><strong>Controle de Fluxo:</strong> Aprenda a controlar a sequência de ações em seus projetos.</li>
        <li><strong>Trabalhando com Variáveis:</strong> Use variáveis para armazenar e manipular informações nos seus programas.</li>
        <li><strong>Eventos e Interações:</strong> Como criar eventos e interações para tornar seus projetos mais dinâmicos.</li>
        <li><strong>Funções e Blocos:</strong> Organize seu código usando funções e blocos personalizados.</li>
        <li><strong>Sons e Música:</strong> Adicione efeitos sonoros e música aos seus projetos.</li>
        <li><strong>Sensores e Dados de Entrada:</strong> Utilize sensores e dados de entrada para interações mais complexas.</li>
        <li><strong>Projetos Colaborativos:</strong> Trabalhe em equipe para criar projetos Scratch colaborativos.</li>
        <li><strong>Revisão e Trabalho Final:</strong> Prepare-se para revisar seu progresso e finalizar seu projeto final.</li>
    </ul>


    <h2 style="color: #800080;">Dicas para Aprender Scratch</h2>
    <ul>
        <li><strong>Experimente:</strong> Não tenha medo de experimentar e testar novas ideias.</li>
        <li><strong>Pratique Regularmente:</strong> Quanto mais você pratica, mais familiarizado ficará com o Scratch.</li>
        <li><strong>Assista aos Tutoriais:</strong> Além das aulas, assista aos tutoriais disponíveis no site oficial do Scratch.</li>
        <li><strong>Participe de Fóruns:</strong> Junte-se a fóruns de discussão para compartilhar projetos e obter feedback.</li>
        <li><strong>Explore Projetos de Outros Alunos:</strong> Inspire-se vendo o que outros estão criando no Scratch.</li>
        <li><strong>Use a Ajuda Integrada:</strong> O Scratch possui uma ajuda integrada que explica funções e blocos.</li>
    </ul>

    <h2 style="color: #800080;">Compartilhe Seus Projetos</h2>
    <p>Compartilhe seus projetos no Scratch e veja o que outros alunos estão criando. É uma ótima forma de aprender e se inspirar!</p>

</div>
{% endblock %}
