{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<section id="inicio">
    <div class="container">
        <div class="content">
            <div class="text">
                <h1>Bem-Vindo ao Nosso Mundo de Aprendizado!</h1>
                <p>Descubra o fascinante universo da programação com Scratch, uma plataforma educativa que transforma o aprendizado em uma aventura criativa para crianças e jovens. Explore conosco desde os primeiros passos na linguagem até projetos avançados, onde cada linha de código ganha vida com jogos, histórias e animações únicas.</p>
                <p>Em nosso espaço, mergulhe em conceitos que vão além da tecnologia: desenvolvemos não apenas programas, mas também habilidades essenciais como pensamento crítico, colaboração e resolução de problemas. Cada desafio proposto é uma oportunidade para explorar a imaginação e fortalecer o raciocínio lógico, preparando nossos alunos para um futuro digital vibrante.</p>
                <p>Junte-se a nós nessa jornada de descobertas, onde o aprendizado é divertido, interativo e totalmente cativante. Seja bem-vindo à Lógica de Programação com Scratch, onde o potencial das mentes jovens se transforma em projetos que inspiram e impactam o mundo ao seu redor.</p>
                <a href="#programacao" class="btn">Explore Mais</a>
            </div>
            <div class="images">
                <img src="{{ url_for('static', filename='images/scratchjr.jpg') }}" alt="Imagem 1">
                <img src="{{ url_for('static', filename='images/imageScratch.png') }}" alt="Imagem 2">
            </div>
        </div>
    </div>
</section>

<section id="programacao">
    <div class="container">
        <h2>Programação do Curso de Introdução ao Scratch</h2>
        <p>Conheça nosso cronograma detalhado e a programação diária, preparada para oferecer uma experiência de aprendizado completa e envolvente para as crianças.</p>
        <a href="{{ url_for('programacao') }}" class="btn">Veja o Cronograma Completo</a>
    </div>
</section>

{% endblock %}
